*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    background-color: #242020;
    color: #f0e0cb;
}
.grid-main{
    
     
     display: grid;
     grid-template-areas: 
           "H H"
           "c1 img2"
           "c1 img2"
           "img3 img4"
           "F F";
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 900px 650px 650px 800px 500px;
}

 
/*---------------------------------------INICIO----------------------------*/
.inicioTitulo{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;  
    color: #f0e0cb;;
}

.menu{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    position: absolute;
    top:20px;
    right: 30px;
}

.menu__li{
    list-style: none;
    padding: 20px;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color:#faefe0 ;  
}

a:hover{
    text-decoration: underline;
}

.H{
    background-image: url(/imagenes/HOME/fondo.jpg);
    grid-area: H;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}
/*---------------------------------------CONTENIDO----------------------------*/
.subtitulo{
    grid-area: c1;
    width: 100%;
    height: 100%;
}

.subtitulo__texto{
    color: #f0e0cb;
    font-size: 90px;
    text-align: start;
    width: 700px;
    height: 100%;
}


.imagenes__img{
    width:100% ;
    height: 100%;
    object-fit: cover;
}

.img2{
    grid-area: img2;
    
}

imagenes__img

.img3{
    grid-area: img3;
}


.img4{
    grid-area: img4;
}

/*---------------------------------------FOOTER----------------------------*/
.F{
    grid-area: F;
    width: 100%;
    height: 100%;
}

.listaFooter{
    display: flex;
    flex-direction: column;
}

.listaFooter__li{
    font-size: 25px;
    padding: 5px;
}

.PieDePagina{
    position: absolute;
    right: 20px;
    font-size: 20px;
}

.redes{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.redes__a{
    width: 60px;
    padding: 5px;

}